<nav id="nav" *ngIf="currentUser">
  <a routerLink="/jackpot">Play</a>
  <a routerLink="/">About</a>
  <a routerLink="/admin" *ngIf="isPersoneel">Personeel</a>
  <a (click)="logout()">Logout</a>
</nav>

<nav id="floorNavigation">
  <app-floor *ngFor="let floor of floors">
    <a routerLink="/floor/{{floor.floorLevel}}">
      Verdieping {{floor.floorLevel}}
    </a>
  </app-floor>
</nav>

<verdieping>
  <plattegroond>
    <app-room>
      <app-infobar>

      </app-infobar>
    </app-room>
  </plattegroond>
</verdieping>


<nav *ngIf="!currentUser">
  <a routerLink="/login">Login</a>
</nav>

<div id="application">
  <router-outlet></router-outlet>
</div>

<footer>
  South Park Studios&trade;
</footer>
